body{
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.pricing{
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

.card{
    
    flex: 1;
    padding: 10px;
    text-align: center;
    background-color: #80cce5;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.card:nth-child(1)::before{
    content: "$3 ";
}
.card:nth-child(2)::before{
    content: "$5 ";
}
.card:nth-child(3)::before{
    content: "$20 ";
}