.static{
    position: static;
}

.relative{
    position: relative;
    
    left: 10px;
    z-index: 100;
}

.parent{
    position: relative;
    width: 200px;
    height: 2200px;
    background-color: lightblue;
}
.absolute{
    position: absolute;
    top: 20px;
    left: 40px; 
    background-color: lightcoral;
}

.fixed{
    position: fixed;
    bottom: 20px;
    right: 40px; 
    background-color: lightgreen;
}

.sticky{
    position: sticky;
    top: 0;
    background-color: lightyellow;
    z-index: 100;
}

.overflow{
    overflow: auto;    
    width: 100px;
    height: 50px;
    background-color: lightgray;
    border: 1px solid black;
}