.bg-image1{
    color: thistle;
    background-image: url("https://plus.unsplash.com/premium_photo-1728568724868-5d24ac1238ec?w=800&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHx0b3BpYy1mZWVkfDF8NnNNVmpUTFNrZVF8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
    background-position: center;
    height: 100px;
    width: 100%;
    background:radial-gradient(circle, rgba(0, 0, 0, 0.8) 0%, rgba(255, 255, 255, 0.8) 100%), url("https://plus.unsplash.com/premium_photo-1728568724868-5d24ac1238ec?w=800&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHx0b3BpYy1mZWVkfDF8NnNNVmpUTFNrZVF8fGVufDB8fHx8fA%3D%3D");
}
.bg-image2{
    color: thistle;
    background-repeat: no-repeat;
    background-image: url("https://plus.unsplash.com/premium_photo-1729636852214-dff2864cce02?w=800&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHx0b3BpYy1mZWVkfDF8RnpvM3p1T0hONnd8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
    background-position: center;
    height: 300px;
    width: 100%;
    background: linear-gradient(to right, ), url("https://plus.unsplash.com/premium_photo-1729636852214-dff2864cce02?w=800&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHx0b3BpYy1mZWVkfDF8RnpvM3p1T0hONnd8fGVufDB8fHx8fA%3D%3D");
}